.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************/

section {
    padding: 20px 10px;
}

.mainHeader {
    background-color: #E7E9EB;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.mainHeader ul {
    list-style-type: none;
}

.App > nav {
    background-color: #F55A5A;
    padding: 10px 5px;
    color: #ffffff;
}

.blogs {
    display: flex;
    /* background-color: DodgerBlue; */
    flex-direction: column;
    align-items: center;
    /* align-content: space-around; */
    /* justify-content: center; */
}
.blog--preview {
    display: flex;
    flex-direction: row;
}
.blog--info {
    justify-content: flex-start;
}
.blog--thumbnail {
    width: 125px;
    height: 168px;
}
